{% extends 'base.html' %}
{% block title %}
    Update
{% endblock %}
{% block content %}
    <br><br><br>
    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-7">
                <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <section>
                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-sm-2"><b>{{ field.label_tag }}</b></label>
                                {{ field }}
                            </div>
                        {% endfor %}
                    </section>
                    <button class="btn btn-outline-success btn-lg" type="submit" style="margin-left: 10%;"> Add</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}